body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: auto;
  background-color: antiquewhite;
  max-width: 1200px;
}

h1 {
  font-size: 80px;
  text-align: center;
  padding: 20px 0;
}

h2 {
  font-size: 35px;
  grid-column: span 3;
}

img {
  max-width: 100%;
}

p {
  font-size: 20px;
}

footer p {
  text-align: center;
  font-size: small;
}

#intro {
  font-size: 25px;
  color: gray;
  grid-row: 2;
  grid-column: span 3;
  text-align: center;
  padding: 50px 0;
}

.rotate_img_left {
  transform: rotate(-12deg) translate(-50px, 10px);
  z-index: -1;
  max-width: 120%;
}

.rotate_img_right {
  transform: rotate(5deg) translate(-10px, 50px);
  z-index: -1;
  max-width: 120%;
}

.css-grid-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 50px 100px;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.span-2-row {
  grid-row: span 2;
}
